@import "../../../assests/styles/variables.scss";

.text {
  font-family: $font-secondary;
  color: $cf-white;
  padding-bottom: $padding-24;
}

.size-26 {
  font-size: $font-size-26;
}

.size-22 {
  font-size: $font-size-22;
}

.size-20 {
  font-size: $font-size-20;
}

.size-18 {
  font-size: $font-size-18;
}
