.client-section-wrapper-about {
  padding: 2rem 0 1rem;
  background-repeat: no-repeat;
  background-size: 18rem;
  background-position: bottom 0 left 0px;
  .header {
    text-align: center;
  }
  .img-container {
    img {
      width: 174px;
    }
  }
}
