.basic-accordian {
  padding: 1rem !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  margin: 0 !important;
  .header {
    font-size: 2rem;
    font-family: "PoppinSemi";
  }
}
