.client-section {
  padding: 5rem 0 5rem;
}
.logos-wrapper {
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.logo-images {
  transition: 4s ease-in-out;

  margin: auto;

  img {
    // transform: scale(1);
    // transition: 4s linear;
  }
}

.image-wrapper {
  position: relative;
}

.hover-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hover-image--back {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-wrapper:hover .hover-image--back {
  opacity: 1;
}
