@import "../../../assests/styles/variables.scss";

.work-swiper {
  background: url("/our-work-bg.png"), #f3f3f3;
  overflow: hidden;
  padding: 5rem 0;
  background-position: center;
  background-size: 70rem;
  background-repeat: no-repeat;
  position: relative !important;
  .our-work-stroke {
    position: absolute;
    bottom: 8px;
    left: 0;
    @media only screen and (max-width: 992px) {
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 18px;
    }
  }
  .all-projects {
    color: $cf-red;
    font-size: 1.125rem;
    font-family: $font-primary;
    font-weight: $font-weight-6;
    margin-top: $margin-8;
    margin-right: 3rem;
    text-decoration: none;
    position: absolute;
    bottom: 8rem;
    left: 7rem;
    @media only screen and (max-width: 992px) {
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 4rem;
    }
  }
  .swiper {
    overflow: visible;
    margin: 2rem 0 6rem;
    padding: 0 $padding-24;
  }
  .work-sec-heading-w {
    width: 50%;
    @media only screen and (max-width: 992px) {
      width: 100%;
      text-align: center;
    }
  }

  .swiper-slide {
    max-width: 810px;
    overflow: hidden;
    cursor: none;
  }

  .swiper-button-prev {
    background: url("/swipper-left-arrow.svg"), $cf-white;
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding: $padding-8;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: block;
    position: absolute;
    top: 440px;
    &::after {
      display: none;
    }
  }

  .swiper-button-next {
    background: url("/swipper-right-arrow.svg"), $cf-white;
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding: $padding-8;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: block;
    position: absolute;
    top: 440px;

    &::after {
      display: none;
    }
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    display: none;
  }

  .swiper-pagination {
    bottom: -48px;
    left: 0;

    .swiper-pagination-bullet-active {
      background-color: #fabb5a;
    }
  }
  .client-work-slide {
    .text {
      font-size: $font-size-16;
      font-family: $font-primary;
      color: $cf-black;
    }
    .link {
      font-size: $font-size-18;
      font-family: $font-primary;
      color: $cf-black;
      padding-right: $padding-8;
    }
    .header {
      padding-left: 4rem;
    }
    @media only screen and (max-width: 992px) {
      .header {
        padding: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .client-work-image {
      @media only screen and (max-width: 992px) {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
      }
      img {
        @media only screen and (max-width: 500px) {
          width: 100%;
          height: 170px;
        }
      }
    }
  }
}
